$row-border-color: #ddd;
$font-primary: "Roboto", sans-serif;
$font-secondary: "Arial", sans-serif;
$color-selected: #eeeeee;
$color-hover: #f5f5f5;
$color-success: #86ce3c;
$subtle-heading-color: gray;
$list-text-color: #333;
$popup-background-color: white;