@use "../../../src/styles/variables.scss" as *;

.header-container {
  font-family: $font-primary;
  padding: 14px 10px;
}

label {
  padding: 42px;
  font-size: 25px;
  font-weight: 100;
}

.downloadLabel {
  padding: 5px;
  font-size: 25px;
  font-weight: 100;
}

input {
  height: 20px;
  width: 18px;
  cursor: pointer;
}
a {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: $font-secondary;
}

.table-container {
  border-bottom: 1px solid $row-border-color;
  border-radius: 5px;
  overflow: hidden;
}

th {
  padding: 10px;
  font-weight: 100;
  text-align: left;
  border-bottom: 1px solid $row-border-color;
  border-top: 1px solid $row-border-color;
}

td {
  padding: 10px;
  font-weight: 100;
  text-align: left;
  border-bottom: 1px solid $row-border-color;
  font-size: 12px;
}

tr.selected {
  background-color: $color-selected;
}

tr:hover {
  background-color: $color-hover;
  cursor: pointer;
}

.status-indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: $color-success;
  border-radius: 50%;
}

@mixin status-style($margin) {
  margin-left: $margin;
}

.status-scheduled {
  @include status-style(18px);
}
.status-available {
  @include status-style(5px);
}

@mixin status-position($left) {
  position: relative;
  left: $left;
}

.status-with-icon {
  @include status-position(14px);
}

.status-without-icon {
  @include status-position(28px);
}
